body{
  font-family: 'Merriweather', serif;
}
h1{
font-size: 80px;
}
h2{
font-size: 50px;
}
h3{
  font-size: 30px;
  text-align:left;
}
.my-misson{
 border-left: 5px solid chocolate; 
 padding: 0% 5px;
}
.chocolate-color{
color: chocolate;
}
.flexible-container{
 display:flex;
 padding: 5%;
}
.half-width{
  width: 50%;
  margin-bottom: 100px;

}
.half-width img{
  width: 80%;
}
.link-button{
  text-decoration: none;
  background-color: red;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
.mission-2022{
  text-align: center;
}
.mission-area{
  width: 30%;
  margin-left: 3%;
  margin-right: 3%;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(160, 204, 233);
  background-position: center;
}
.Build-Corona{
  text-align: center;
}
.mission-area img{
width: 50%;
margin-right: 40%;
}
.footer{
 padding: 10px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

